#### Filling Missing Values

In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)
df = pd.DataFrame(np.arange(21).reshape(7, 3))
df.iloc[1:4, 1] = np.nan
df.iloc[-2:, 2] = np.nan
df

    0     1     2
0   0   1.0   2.0
1   3   NaN   5.0
2   6   NaN   8.0
3   9   NaN  11.0
4  12  13.0  14.0
5  15  16.0   NaN
6  18  19.0   NaN

In [ ]:
# fill column 1 with 0.5 and column 2 with 0.25

In [ ]:
# fill df with median value of each columns

#### Group-Split-Combine

In [2]:
dates = pd.date_range(start='2024-01-01', end='2024-01-31')
stores = ['Littleton', 'Aurora', 'Highlands']
products = ['Airmax', 'Airforce', 'Jordans']
sales_data = pd.DataFrame({
    'date': np.random.choice(dates, size=300),
    'store': np.random.choice(stores, size=300),
    'product': np.random.choice(products, size=300),
    'sales': np.random.randint(10, 100, size=300)
})

sales_data.sample(10)

          date      store   product  sales
291 2024-01-16  Highlands   Jordans     78
266 2024-01-04  Littleton    Airmax     92
110 2024-01-26  Highlands    Airmax     11
249 2024-01-14     Aurora   Jordans     24
203 2024-01-14  Highlands   Jordans     14
270 2024-01-03  Littleton   Jordans     87
44  2024-01-23  Highlands   Jordans     61
152 2024-01-17  Littleton    Airmax     69
187 2024-01-23     Aurora   Jordans     17
158 2024-01-24  Highlands  Airforce     85

In [ ]:
#  Calculate the total sales for each store

In [ ]:
# Find the average sales per product for each store.

### Reshaping

In [ ]:
# Create a pivot table to show the total sales for each store across different dates. 
# The index should be the date, columns should be store, and values should be sales.